<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20014515843-lcis1q8e4ujsa8q3okep0lhvgl8cddu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20014515843-lcis1q8e4ujsa8q3okep0lhvgl8cddu0</string>
	<key>API_KEY</key>
	<string>AIzaSyDJCQpfFS3JYDjxRmAxr0kDgipb-lrYMcg</string>
	<key>GCM_SENDER_ID</key>
	<string>20014515843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reeps</string>
	<key>PROJECT_ID</key>
	<string>reeps-gym</string>
	<key>STORAGE_BUCKET</key>
	<string>reeps-gym.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20014515843:ios:e9acb891df09e385153db6</string>
</dict>
</plist>